@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import "variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
}

main
{
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10vh 5vw;
    width: 100%;
}

.card{
    background-color: $card-color;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.imgContainer{
    order: 1;
    .img-mobile{
        visibility: visible;
        width: 100%;
        filter: opacity(0.3) drop-shadow(0 0 0 $accent); 
    }
    .img-desktop{
        visibility: hidden;
        position: absolute;
    }
}

.textPart{
    order: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    h1{
        width: 100%;
        text-align: center;
        b{  
            color: $accent;
        }
    }
    p{
        margin-top: 20px;
        text-align: center;
        color: $paragraph-color;
    }
    ul{
        margin-top: 20px;
        list-style: none;
        li{
            text-align: center;
            font-weight: 700;
            line-height: 20px;
            font-size: x-large;
            margin-bottom: 30px;
            span{
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: small;
                color: $stats-color;
            }
        }
    }
}

#footer{
    background-color: $main-color;
    text-align: center;
    p{
        display: inline-block;
        a{
            color: $accent;
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
    }
}
