@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import "variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Inter', sans-serif;
}

main
{
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10vh 5vw;
    width: 100%;
}

.card{
    background-color: $card-color;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.imgContainer{
    order: 1;
    img{
        width: 100%;
        filter: opacity(0.3) drop-shadow(0 0 0 $accent); 
    }
    .img-desktop{
        visibility: hidden;
        position: fixed;
        top: 2px;
        left: 2px;
        width: 2px;
    }
}

.textPart{
    order: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    h1{
        width: 100%;
        text-align: center;
        b{  
            color: $accent;
        }
    }
    p{
        margin-top: 20px;
        text-align: center;
        color: $paragraph-color;
    }
    ul{
        margin-top: 20px;
        list-style: none;
        li{
            text-align: center;
            font-weight: 700;
            font-size: x-large;
            span{
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: small;
                color: $stats-color;
            }
            margin-bottom: 30px;
        }
    }
}

#footer{
    background-color: $main-color;
    text-align: center;
    p{
        display: inline-block;
        a{
            color: $accent;
            text-decoration: none;
            &:hover{
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 992px){
    main{
        height: 100vh - 4vh;
    }

    .card{
        background-color: $card-color;
        width: 80%;
        height: 390px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .imgContainer{
        order: 2;
        height: auto;
        overflow: hidden;
        .img-mobile{
            visibility: hidden;
            position: fixed;
            top: 2px;
            left: 2px;
            width: 2px;
        }
        .img-desktop{
            visibility: visible;
            position: relative;
            width: 100%;
            filter: opacity(0.3) drop-shadow(0 0 0 $accent); 
        }
    }

    .textPart{
        order: 1;
        margin: auto;
        padding: 50px;
        h1{
            width: 100%;
            text-align: left;
        }
	p{
            margin-top: 20px;
            text-align: left;
        }
        ul{
            margin-top: 70px;
            .margin{
                margin-left: 50px;
                margin-right: 50px;
            }
            li{
                display: inline-block;
                text-align: left;
                span{
                    font-family: 'Lexend Deca', sans-serif;
                    font-weight: 400;
                    font-size: small;
                    color: $stats-color;
                }
            }
        }
    }
    
    #footer{
        height: 4vh;
        background-color: $main-color;
        text-align: center;
        p{
            display: inline-block;
            a{
                color: $accent;
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
        }
    }
}